.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0;
  background-color: #F7B32B;
  overflow: hidden;
  /* flex: inherit; */
  white-space: nowrap;
  list-style: none;
  /* display: inline-block; */

}

.nav-link {
  /* float: left; */
  display: flex;
  /* float: center; */
  color: #f2f2f2;
  background-color: F7B32B;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.logoutButton {
  /* font-size: 15px; */
  background-color: #F7B32B;
  cursor: pointer;
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
  align-items: center;
}

.nav-right {
float: right;
overflow: hidden;
display: flex;
align-items: center;

}