.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  /* margin: 0 0 30px; */
  background-color: #F7B32B;
  overflow: hidden;
  /* flex: auto; */
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: F7B32B;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.logoutButton {
  /* float: left; */
  color: #f2f2f2;
  /* text-align: center; */
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* margin: 0 0 30px; */
  background-color: #F7B32B;
  overflow: hidden;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-right {
  float: right;
}